*{
    margin: 0px;
    padding: 0px;
}


.mainlp{
    
    flex-direction: column;
    height: 100vh;
    background-image: url('./images/NmQ4.png');
    height:100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.brand{
    font-style:inherit;
    color:#fff;
    font-size: 2em;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;

}
.imgs{
    height: 70px;
    width:70px;
    border-radius: 50px;
    z-index: 1;
}

.toplp{
    /* background-color: red; */
    flex: 0.13;
    display: flex;
    z-index: 1;
    
    
    }

    .righttoplp{
        /* background-color: blue; */
        flex:0.8;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }
    .downlp{
        /* background-color: yellow; */
        flex: 0.87;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    
    }
    
    .topdownlp{
        /* background-color: orange;  */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        flex:0.6px;
        z-index: 1;
    }

    
    
    .lefttoplp{
        /* background-color: green; */
        flex:0.2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
        z-index: 1;
    }

    .middledownlp{
        /* background-color: brown; */
        align-items: center;
        justify-content: center;
        flex:0.05px;
        display: flex;
        /* padding-top: 200px; */
        /* width: 700px;
        height: 5px; */
        z-index: 1;
    }
    
    .downdownlp{
        /* background-color: chocolate; */
        align-items: center; 
        flex:0.3px;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .select{
        margin-right: 35px;
        z-index: 1;
        width: 150px;
        height: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        text-align: center;
    }
    
    .log{
     font-family: 'Montserrat', sans-serif;

    }


